
		#container{
			margin: 0px auto;
			border: 0px auto;
			overflow: auto;
			font-family: Century Gothic;	
		}
		#title{
			background-color:rgba(255, 182, 65, 0.85);
			height: 100px;
			line-height: 100px;
			margin-top: 5px;
			margin-bottom: 5px;
			margin-left: 120px;
			border-radius: 45px 5px 1px 45px;;
			border: 2px solid orange;
			
		}
		#title img {
			float: left;
			width: 350px;
			height: 100px;
			margin-left: 50px;
			-webkit-filter: drop-shadow(5px 4px 0 white)
					drop-shadow(-4px -4px 0 white);
			filter: drop-shadow(5px 4px 5 white) 
					drop-shadow(-4px -4px 5 white);
		}
		
		#title button {
			float: right; 
			line-height: 60px;
			background-color:rgba(255, 182, 65, 0.3);
			border: none;
			color: white;
			padding: 16px 32px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 20px;
			font-family: Comic Sans MS;
			font-weight: bold;
			margin: 4px 2px;
			width: 250px;
			-webkit-transition-duration: 0.4s; /* Safari */
			transition-duration: 0.4s;
			cursor: pointer;
		}
		#title button:hover {
			background: #FF9D00;
			
		}
		.button1 {
			  display: inline-block;
			  padding: 10px 20xpxpx;
			  font-size: 20px;
			  font-family: Comic Sans MS;
			  cursor: pointer;
			  text-align: center;
			  text-decoration: none;
			  outline: none;
			  color: #fff;
			  background-color: #FFB641;
			  border: none;
			  border-radius: 15px;
			  box-shadow: 0 9px #999;
			  width: 300px;
			}

		.button1:hover {
			background-color: orange;
		}

		.button1:active {
			  background-color: orange;
			  box-shadow: 0 5px #666;
			  transform: translateY(4px);
			}
		.button {
			  display: inline-block;
			  padding: 15px 25px;
			  font-size: 24px;
			  font-family: Comic Sans MS;
			  cursor: pointer;
			  text-align: center;
			  text-decoration: none;
			  outline: none;
			  color: #fff;
			  background-color: #FFB641;
			  border: none;
			  border-radius: 15px;
			  box-shadow: 0 9px #999;
			  width: 180px;
			}

		.button:hover {
			background-color: orange;
		}

		.button:active {
			  background-color: orange;
			  box-shadow: 0 5px #666;
			  transform: translateY(4px);
			}
		.button1 {
			  display: inline-block;
			  padding: 10px 20xpxpx;
			  font-size: 20px;
			  font-family: Comic Sans MS;
			  cursor: pointer;
			  text-align: center;
			  text-decoration: none;
			  outline: none;
			  color: #fff;
			  background-color: #FFB641;
			  border: none;
			  border-radius: 15px;
			  box-shadow: 0 9px #999;
			  width: 300px;
			}

		.button1:hover {
			background-color: orange;
		}

		.button1:active {
			  background-color: orange;
			  box-shadow: 0 5px #666;
			  transform: translateY(4px);
			}
		.question {
			background-color:rgba(255, 255, 255, 0.5);
			margin-left: 120px;
			font-family: Comic Sans MS;	
			text-align: left;
			border-radius: 1px 5px 1px 45px;
			line-height: 15px;
			height: 500px;
			border: 2px solid white;
			width: 1225px;
			font-size
		}
		.header {
			font-family: Comic Sans MS;
			font-size: 28px;
			font-weight: bold;
			background-color:rgba(255, 255, 255, 0.5);
			border-radius: 45px 5px 1px 1px;
			border: 2px solid white;
			margin-left: 120px;
			margin-bottom: 5px;
			text-align: center;
		}
		
		input[type="image"]{ 
			float: left;
			-webkit-transform: scale(0.85);
			transform: scale(0.85);
			-webkit-transition: .3s ease-in-out;
			transition: .3s ease-in-out;
			width: 300px;
			height: 200px;
		}
		input[type="image"]:hover {
			-webkit-transform: scale(0.82);
			transform: scale(0.82);
		}
		#answer {
			display: inline-block;
			text-align: center;
		}
		#answer1 {
			font-size: 25px;
			display: inline-block;
			text-align: center;
			line-height: 25px;
		}
		.img2 {
			height: 70px;
			width: 70px;
		}
		.img3 {
			height: 90px;
			width: 100px;
			-webkit-filter: brightness(1);
			-webkit-transition: all 0.4s ease;
			-moz-transition: all 0.4s ease;
			-o-transition: all 0.4s ease;
			-ms-transition: all 0.4s ease;
			transition: all 0.4s ease;
			}

		.img3:hover {
			-webkit-filter: brightness(1.2);
		}

		.img3:active {
			  -webkit-filter: brightness(1.2);
			  height: 92px;
			width: 102px;
			}
			table {
			text-align: center;
			display: inline-block;
		} 